# Lab 1: Explore and Benchmark a BigQuery Dataset for Performance

## Overview

In this lab you will take an existing 2TB+ [TPC-DS benchmark dataset](http://www.tpc.org/tpc_documents_current_versions/pdf/tpc-ds_v2.10.0.pdf) and learn the data warehouse optimization methods you can apply to the dataset in BigQuery to improve performance. 

### What you'll do

In this lab, you will learn how to:

<ul>
  <li>Use BigQuery to access and query the TPC-DS benchmark dataset</li>
  <li>Run pre-defined queries to establish baseline performance benchmarks</li>
</ul>

### Prerequisites

This is an __advanced level SQL__ lab. Before taking it, you should have experience with SQL. Familiarity with BigQuery is also highly recommended. If you need to get up to speed in these areas, you should take this Data Analyst series of labs first:

* [Quest: BigQuery for Data Analysts](https://www.qwiklabs.com/quests/55)

Once you're ready, scroll down to learn about the services you will be using and how to properly set up your lab environment.

### BigQuery

[BigQuery](https://cloud.google.com/bigquery/) is Google's fully managed, NoOps, low cost analytics database. With BigQuery you can query terabytes and terabytes of data without managing infrastructure or needing a database administrator. BigQuery uses SQL and takes advantage of the pay-as-you-go model. BigQuery allows you to focus on analyzing data to find meaningful insights.

## TPC-DS Background
In order to benchmark the performance of a data warehouse we first must get tables and data to run queries against. There is a public organization, TPC, that provides large benchmarking datasets to companies explicitly for this purpose. The purpose of TPC benchmarks is to provide relevant, objective performance data to industry users.

The TPC-DS Dataset we will be using comprises of __XX tables__ and __XX queries__ that simulate common data analysis tasks. View the full documentation [here](http://www.tpc.org/tpc_documents_current_versions/pdf/tpc-ds_v2.11.0.pdf).

## Exploring TPC-DS in BigQuery

The TPC-DS tables have been loaded into BigQuery and you will explore ways to optimize the performance of common queries by using BigQuery data warehousing best practices. We have limited the size to 2TB for the timing of this lab but the dataset itself can be expanded as needed.

Note: The TPC Benchmark and TPC-DS are trademarks of the Transaction Processing Performance Council (http://www.tpc.org). The Cloud DW benchmark is derived from the TPC-DS Benchmark and as such is not comparable to published TPC-DS results.

## Exploring the Schema with SQL

Question: 
- How many tables are in the dataset?
- What is the name of the largest table (in GB)? How many rows does it have?

In [53]:
%%bigquery
SELECT 
  dataset_id,
  table_id,
  -- Convert bytes to GB.
  ROUND(size_bytes/pow(10,9),2) as size_gb,
  -- Convert UNIX EPOCH to a timestamp.
  TIMESTAMP_MILLIS(creation_time) AS creation_time,
  TIMESTAMP_MILLIS(last_modified_time) as last_modified_time,
  row_count,
  CASE 
    WHEN type = 1 THEN 'table'
    WHEN type = 2 THEN 'view'
  ELSE NULL
  END AS type
FROM
  `dw-workshop.tpcds_2t_baseline.__TABLES__`
ORDER BY size_gb DESC

,dataset_id,table_id,size_gb,creation_time,last_modified_time,row_count,type
0,tpcds_2t_baseline,store_sales,1545.13,2019-10-13 19:15:03.190000+00:00,2019-10-13 19:15:03.190000+00:00,5762820700,table
1,tpcds_2t_baseline,catalog_sales,1124.82,2019-10-13 19:14:55.693000+00:00,2019-10-13 19:14:55.693000+00:00,2881495086,table
2,tpcds_2t_baseline,web_sales,564.63,2019-10-13 19:15:03.986000+00:00,2019-10-13 19:15:03.986000+00:00,1440681379,table
3,tpcds_2t_baseline,store_returns,129.34,2019-10-13 19:15:01.018000+00:00,2019-10-13 19:15:01.018000+00:00,576280209,table
4,tpcds_2t_baseline,catalog_returns,81.51,2019-10-13 19:14:54.124000+00:00,2019-10-13 19:14:54.124000+00:00,288154642,table
5,tpcds_2t_baseline,web_returns,36.43,2019-10-13 19:15:03.043000+00:00,2019-10-13 19:15:03.043000+00:00,144074630,table
6,tpcds_2t_baseline,customer,1.44,2019-10-13 19:14:54.618000+00:00,2019-10-13 19:14:54.618000+00:00,9100000,table
7,tpcds_2t_baseline,inventory,1.19,2019-10-13 19:14:57.402000+00:00,2019-10-13 19:14:57.402000+00:00,37584000,table
8,tpcds_2t_baseline,customer_address,0.61,2019-10-13 19:14:55.631000+00:00,2019-10-13 19:14:55.631000+00:00,4550000,table
9,tpcds_2t_baseline,customer_demographics,0.13,2019-10-13 19:14:55.340000+00:00,2019-10-13 19:14:55.340000+00:00,1920800,table
10,tpcds_2t_baseline,item,0.02,2019-10-13 19:14:58.165000+00:00,2019-10-13 19:14:58.165000+00:00,48000,table
11,tpcds_2t_baseline,date_dim,0.01,2019-10-13 19:14:55.691000+00:00,2019-10-13 19:14:55.691000+00:00,73049,table
12,tpcds_2t_baseline,time_dim,0.01,2019-10-13 19:15:01.382000+00:00,2019-10-13 19:15:01.382000+00:00,86400,table
13,tpcds_2t_baseline,call_center,0.00,2019-10-13 19:14:52.907000+00:00,2019-10-13 19:14:52.907000+00:00,8,table
14,tpcds_2t_baseline,catalog_page,0.00,2019-10-13 19:14:53.022000+00:00,2019-10-13 19:14:53.022000+00:00,11718,table
15,tpcds_2t_baseline,dbgen_version,0.00,2019-10-13 19:14:56.109000+00:00,2019-10-13 19:14:56.109000+00:00,1,table
16,tpcds_2t_baseline,household_demographics,0.00,2019-10-13 19:14:56.855000+00:00,2019-10-13 19:14:56.855000+00:00,7200,table
17,tpcds_2t_baseline,income_band,0.00,2019-10-13 19:14:57.134000+00:00,2019-10-13 19:14:57.134000+00:00,20,table
18,tpcds_2t_baseline,perf,0.00,2019-10-14 00:35:53.329000+00:00,2019-10-14 00:36:54.662000+00:00,4,table
19,tpcds_2t_baseline,promotion,0.00,2019-10-13 19:14:58.728000+00:00,2019-10-13 19:14:58.728000+00:00,450,table
20,tpcds_2t_baseline,reason,0.00,2019-10-13 19:14:59.216000+00:00,2019-10-13 19:14:59.216000+00:00,36,table
21,tpcds_2t_baseline,ship_mode,0.00,2019-10-13 19:15:00.140000+00:00,2019-10-13 19:15:00.140000+00:00,20,table
22,tpcds_2t_baseline,store,0.00,2019-10-13 19:15:00.160000+00:00,2019-10-13 19:15:00.160000+00:00,186,table
23,tpcds_2t_baseline,warehouse,0.00,2019-10-13 19:15:01.593000+00:00,2019-10-13 19:15:01.593000+00:00,6,table
24,tpcds_2t_baseline,web_page,0.00,2019-10-13 19:15:01.927000+00:00,2019-10-13 19:15:01.927000+00:00,360,table
25,tpcds_2t_baseline,web_site,0.00,2019-10-13 19:15:03.301000+00:00,2019-10-13 19:15:03.301000+00:00,36,table

The core tables in the data warehouse are derived from 5 separate core operational systems (each with many tables):

![tpc-ds-components.png](img/tpc-ds-components.png)

These systems are driven by the core functions of our retail business. As you can see, our store accepts sales from online (web), mail-order (catalog), and in-store. The business must keep track of inventory and can offer promotional discounts on items sold.

### Exploring all available columns of data

Question:
- How many columns of data are in the entire dataset (all tables)?

In [54]:
%%bigquery
SELECT * FROM 
 `dw-workshop.tpcds_2t_baseline.INFORMATION_SCHEMA.COLUMNS`

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position
0,dw-workshop,tpcds_2t_baseline,household_demographics,hd_demo_sk,1,NO,INT64,NEVER,None,None,NO,None,NO,NO,None
1,dw-workshop,tpcds_2t_baseline,household_demographics,hd_income_band_sk,2,YES,INT64,NEVER,None,None,NO,None,NO,NO,None
2,dw-workshop,tpcds_2t_baseline,household_demographics,hd_buy_potential,3,YES,STRING,NEVER,None,None,NO,None,NO,NO,None
3,dw-workshop,tpcds_2t_baseline,household_demographics,hd_dep_count,4,YES,INT64,NEVER,None,None,NO,None,NO,NO,None
4,dw-workshop,tpcds_2t_baseline,household_demographics,hd_vehicle_count,5,YES,INT64,NEVER,None,None,NO,None,NO,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,dw-workshop,tpcds_2t_baseline,customer,c_birth_year,14,YES,INT64,NEVER,None,None,NO,None,NO,NO,None
429,dw-workshop,tpcds_2t_baseline,customer,c_birth_country,15,YES,STRING,NEVER,None,None,NO,None,NO,NO,None
430,dw-workshop,tpcds_2t_baseline,customer,c_login,16,YES,STRING,NEVER,None,None,NO,None,NO,NO,None
431,dw-workshop,tpcds_2t_baseline,customer,c_email_address,17,YES,STRING,NEVER,None,None,NO,None,NO,NO,None
432,dw-workshop,tpcds_2t_baseline,customer,c_last_review_date_sk,18,YES,INT64,NEVER,None,None,NO,None,NO,NO,None

Question:
- Are any of the columns of data in this baseline dataset partitioned or clustered?

In [55]:
%%bigquery
SELECT * FROM 
 `dw-workshop.tpcds_2t_baseline.INFORMATION_SCHEMA.COLUMNS`
WHERE 
  is_partitioning_column = 'YES' OR clustering_ordinal_position IS NOT NULL

Empty DataFrame
Columns: [table_catalog, table_schema, table_name, column_name, ordinal_position, is_nullable, data_type, is_generated, generation_expression, is_stored, is_hidden, is_updatable, is_system_defined, is_partitioning_column, clustering_ordinal_position]
Index: []

Question
- How many columns of data does each table have (sorted by most to least?)
- Which table has the most columns of data?

In [56]:
%%bigquery
SELECT 
  COUNT(column_name) AS column_count, 
  table_name 
FROM 
 `dw-workshop.tpcds_2t_baseline.INFORMATION_SCHEMA.COLUMNS`
GROUP BY table_name
ORDER BY column_count DESC, table_name

    column_count              table_name
0             34           catalog_sales
1             34               web_sales
2             31             call_center
3             29                   store
4             28                date_dim
5             27         catalog_returns
6             26                web_site
7             24             web_returns
8             23             store_sales
9             22                    item
10            20           store_returns
11            19               promotion
12            18                customer
13            14               warehouse
14            14                web_page
15            13        customer_address
16            10                time_dim
17             9            catalog_page
18             9   customer_demographics
19             6               ship_mode
20             5  household_demographics
21             4           dbgen_version
22             4               inventory
23             4                    perf
24             3             income_band
25             3                  reason

### Previewing sample rows of data values

In the BigQuery UI, find the Resources panel and search for `catalog_sales`

Click on the `catalog_sales` table name for the `tpcds_2t_baseline` dataset

Question
- How many rows are in the table?
- How large is the table in TB?

Hint: Use the `Details` button in the web UI to quickly access table metadata

Question:
- `Preview` the data and find the Catalog Sales Extended Sales Price `cs_ext_sales_price` field (which is calculated based on product quantity * sales price)
- Are there any missing data values for Catalog Sales Quantity (`cs_quantity`)? 
- Are there any missing values for cs_ext_ship_cost? For what type of product could this be expected? (Digital products)

### Create an example sales report

Write a query that shows key sales stats for each item sold from the Catalog:
- total orders
- total unit quantity
- total revenue
- total profit
- sorted by total orders highest to lowest, limit 100

In [57]:
%%bigquery
SELECT
  cs_item_sk,
  COUNT(cs_order_number) AS total_orders,
  SUM(cs_quantity) AS total_quantity,
  SUM(cs_ext_sales_price) AS total_revenue,
  SUM(cs_net_profit) AS total_profit
FROM
  `dw-workshop.tpcds_2t_baseline.catalog_sales`
GROUP BY
  cs_item_sk
ORDER BY
  total_orders DESC
LIMIT
  10

   cs_item_sk  total_orders  total_quantity total_revenue  total_profit
0        9253        121222         6103140  307670152.68  -30932953.61
1        1927        121217         6106523  309693527.62  -29261211.24
2       16603        121181         6099067  307870874.85  -31511409.31
3         193        121150         6074650   305044085.7  -31913535.21
4       38845        121142         6096548  306754379.03  -30723801.34
5       14335        121109         6098853  307479510.28   -30412623.1
6       21145        121101         6076957  306499554.37  -30122065.46
7        7255        121098         6075854  308807049.12     -30202631
8       37315        121094         6075936  307200736.08  -31155035.24
9        9973        121091         6089771  308538961.44  -31130175.79

A note on our data: The TPC-DS benchmark allows data warehouse practicioners to generate any volume of data programatically. Since the rows of data are system generated, they may not make the most sense in a business context (like why are we selling our top product at such a huge profit loss!).

The good news is that to benchmark our performance we care most about the volume of rows and columns to run our benchmark against.

## Analyzing query performance

Click on __Execution details__

Refer to the chart below (which should be similar to your results) and answer the following questions.

Question
- How long did it take the query to run? 5.1s
- How much data in GB was processed? 150GB
- How much slot time was consumed? 1hr 24min
- How many rows were input? 2,881,495,086
- How many rows were output as the end result (before the limit)? 23,300
- What does the output rows mean in the context of our query? (23,300 unique cs_item_sk)

![example-execution-plan](img/example-execution-plan.png)

## Side note: Slot Time

We know the query took 5.1 seconds to run so what does the 1hr 24 min slot time metric mean?

Inside of the BigQuery service are lots of virtual machines that massively process your data and query logic in parallel. These workers, or "slots", work together to process a single query job really quickly. For accounts with on-demand pricing, you can have up to 2,000 slots.

So say we had 30 minutes of slot time or 1800 seconds. If the query took 20 seconds in total to run, 
but it was 1800 seconds worth of work, how many workers at minimum worked on it? 
1800/20 = 90

And that's assuming each worker instantly had all the data it needed (no shuffling of data between workers) and was at full capacity for all 20 seconds!

In reality, workers have a variety of tasks (waiting for data, reading it, performing computations, and writing data)
and also need to compare notes with eachother on what work was already done on the job. The good news for you is
that you don't need to worry about optimizing these workers or the underlying data to run perfectly in parallel. That's why BigQuery is a managed service -- there's an entire team dedicated to hardware and data storage optimization.

In case you were wondering, the worker limit for your project is 2,000 slots at once. 

If you're really interested in BigQuery performance (say you have a team of 100 analysts and want to monitor usage)
you can monitor usage with StackDriver: https://app.google.stackdriver.com/services/bigquery?project= by following this guide: Slot quota monitoring: https://cloud.google.com/bigquery/quotas#queries and https://cloud.google.com/bigquery/docs/monitoring

## Running a performance benchmark

To performance benchmark our data warehouse in BigQuery we need to create more than just a single SQL report. The good news is the TPC-DS dataset ships with __99 standard benchmark queries__ that we can run and log the performance outcomes. 

In this lab, we are doing no adjustments to the existing data warehouse tables (no partitioning, no clustering, no nesting) so we can establish a performance benchmark to beat in future labs.

### Viewing the 99 pre-made SQL queries

We have a long SQL file with 99 standard queries against this dataset stored in our /sql/ directory.

Let's view the first 100 lines of those baseline queries to get familiar with how we will be performance benchmarking our dataset.

In [58]:
!head --lines=50 '01_baseline_performance/solution/sql/example_baseline_queries.sql'

head: cannot open '01_baseline_performance/solution/sql/example_baseline_queries.sql' for reading: No such file or directory

### Running the first benchmark test
Now let's run the first query against our dataset and note the execution time. Tip: You can use the [--verbose flag](https://googleapis.dev/python/bigquery/latest/magics.html) in %%bigquery magics to return the job and completion time.

In [59]:
%%bigquery --verbose
# start query 1 in stream 0 using template query96.tpl
select  count(*) 
from tpcds_2t_baseline.store_sales
    ,tpcds_2t_baseline.household_demographics 
    ,tpcds_2t_baseline.time_dim, tpcds_2t_baseline.store
where ss_sold_time_sk = time_dim.t_time_sk   
    and ss_hdemo_sk = household_demographics.hd_demo_sk 
    and ss_store_sk = s_store_sk
    and time_dim.t_hour = 8
    and time_dim.t_minute >= 30
    and household_demographics.hd_dep_count = 5
    and store.s_store_name = 'ese'
order by count(*)
limit 100;

Executing query with job ID: 0bf40a0b-d415-45a4-8a2f-694bd3da31b4
Query executing: 0.41s
Query complete after 0.80s

       f0_
0  1488312

It should execute in just a few seconds. Then try running it again and see if you get the same performance. BigQuery will automatically [cache the results](https://cloud.google.com/bigquery/docs/cached-results) from the first time you ran the query and then serve those same results to you when you can the query again. We can confirm this by analyzing the query job statistics.

### Viewing BigQuery job statistics

Let's list our five most recent query jobs run on BigQuery using the `bq` [command line interface](https://cloud.google.com/bigquery/docs/managing-jobs#viewing_information_about_jobs). Then we will get even more detail on our most recent job with the `bq show` command. Be sure to replace the job id with your own.

In [60]:
!bq ls -j -a -n 5

                 jobId                   Job Type    State      Start Time         Duration
 -------------------------------------- ---------- --------- ----------------- ----------------
  0bf40a0b-d415-45a4-8a2f-694bd3da31b4   query      SUCCESS   14 Oct 00:53:21   0:00:00.045000
  8ce98411-2df8-4473-8da0-efe114da6307   query      SUCCESS   14 Oct 00:53:20   0:00:00.093000
  3f6b35a9-0c99-48f8-b3b9-009f3fbd92e8   query      SUCCESS   14 Oct 00:53:18   0:00:00.910000
  d7336495-ee41-4e48-8110-9886348d7d1f   query      SUCCESS   14 Oct 00:53:17   0:00:00.480000
  1116f862-098b-413b-946c-bf81d09868dc   query      SUCCESS   14 Oct 00:53:16   0:00:00.473000

In [61]:
!bq show --format=prettyjson -j 612a4b28-cb5c-4e0b-ad5b-ebd51c3b2439

{
  "configuration": {
    "dryRun": false,
    "jobType": "QUERY",
    "query": {
      "createDisposition": "CREATE_IF_NEEDED",
      "destinationTable": {
        "datasetId": "_26faa896567219ad1a8a420ad92caebbb6af636a",
        "projectId": "dw-workshop",
        "tableId": "anon0e42104bd9f24ce9a8762cb60cc3f67fa6aadf66"
      },
      "priority": "INTERACTIVE",
      "query": "# start query 1 in stream 0 using template query96.tpl\nselect  count(*) \nfrom tpcds_2t_baseline.store_sales\n    ,tpcds_2t_baseline.household_demographics \n    ,tpcds_2t_baseline.time_dim, tpcds_2t_baseline.store\nwhere ss_sold_time_sk = time_dim.t_time_sk   \n    and ss_hdemo_sk = household_demographics.hd_demo_sk \n    and ss_store_sk = s_store_sk\n    and time_dim.t_hour = 8\n    and time_dim.t_minute >= 30\n    and household_demographics.hd_dep_count = 5\n    and store.s_store_name = 'ese'\norder by count(*)\nlimit 100;\n",
      "useLegacySql": false,
      "writeDisposition": "WRITE_TRUNCATE"
    }
  },
  "etag": "8VQdnl1bV4S/9jpByl9Qvg==",
  "id": "dw-workshop:US.612a4b28-cb5c-4e0b-ad5b-ebd51c3b2439",
  "jobReference": {
    "jobId": "612a4b28-cb5c-4e0b-ad5b-ebd51c3b2439",
    "location": "US",
    "projectId": "dw-workshop"
  },
  "kind": "bigquery#job",
  "selfLink": "https://bigquery.googleapis.com/bigquery/v2/projects/dw-workshop/jobs/612a4b28-cb5c-4e0b-ad5b-ebd51c3b2439?location=US",
  "statistics": {
    "creationTime": "1571002972799",
    "endTime": "1571002973547",
    "query": {
      "cacheHit": true,
      "statementType": "SELECT",
      "totalBytesBilled": "0",
      "totalBytesProcessed": "0"
    },
    "startTime": "1571002973360",
    "totalBytesProcessed": "0"
  },
  "status": {
    "state": "DONE"
  },
  "user_email": "796822948179-compute@developer.gserviceaccount.com"
}

Looking at the job statistics we can see our most recent query hit cache 
- `cacheHit: true` and therefore 
- `totalBytesProcessed: 0`. 

While this is great in normal uses for BigQuery (you aren't charged for queries that hit cache) it kind of ruins our performance test. While cache is super useful we want to disable it for testing purposes.

### Disabling Cache and Dry Running Queries
As of the time this lab was created, you can't pass a flag to `%%bigquery` iPython notebook magics to disable cache or to quickly see the amount of data processed. So we will use the traditional `bq` [command line interface in bash](https://cloud.google.com/bigquery/docs/reference/bq-cli-reference#bq_query).

First we will do a `dry run` of the query without processing any data just to see how many bytes of data would be processed. Then we will remove that flag and ensure `nouse_cache` is set to avoid hitting cache as well.

In [62]:
%%bash 
bq query \
--dry_run \
--nouse_cache \
--use_legacy_sql=false \
"select  count(*) 
from tpcds_2t_baseline.store_sales
    ,tpcds_2t_baseline.household_demographics 
    ,tpcds_2t_baseline.time_dim, tpcds_2t_baseline.store
where ss_sold_time_sk = time_dim.t_time_sk   
    and ss_hdemo_sk = household_demographics.hd_demo_sk 
    and ss_store_sk = s_store_sk
    and time_dim.t_hour = 8
    and time_dim.t_minute >= 30
    and household_demographics.hd_dep_count = 5
    and store.s_store_name = 'ese'
order by count(*)
limit 100;"

Query successfully validated. Assuming the tables are not modified, running this query will process 132086388641 bytes of data.

In [63]:
# Convert bytes to GB
132086388641 / 1e+9

132.086388641

132 GB will be processed. At the time of writing, [BigQuery pricing](https://cloud-dot-google-developers.appspot.com/bigquery/pricing_1d69e6dbde8ba1ab8219292f7dc765cd.frame?hl=en#on_demand_pricing_) is \\$5 per 1 TB (or 1000 GB) of data after the first free 1 TB each month. Assuming we've exhausted our 1 TB free this month, this would be \\$0.66 to run.

Now let's run it an ensure we're not pulling from cache so we get an accurate time-to-completion benchmark.

In [64]:
%%bash 
bq query \
--nouse_cache \
--use_legacy_sql=false \
"select  count(*) 
from tpcds_2t_baseline.store_sales
    ,tpcds_2t_baseline.household_demographics 
    ,tpcds_2t_baseline.time_dim, tpcds_2t_baseline.store
where ss_sold_time_sk = time_dim.t_time_sk   
    and ss_hdemo_sk = household_demographics.hd_demo_sk 
    and ss_store_sk = s_store_sk
    and time_dim.t_hour = 8
    and time_dim.t_minute >= 30
    and household_demographics.hd_dep_count = 5
    and store.s_store_name = 'ese'
order by count(*)
limit 100;"

+---------+
|   f0_   |
+---------+
| 1488312 |
+---------+

Waiting on bqjob_r10c66623efe05523_0000016dc7c16af4_1 ... (2s) Current status: DONE

If you're an experienced BigQuery user, you likely have seen these same metrics in the Web UI as well as highlighted in the red box below:

![img/bq-ui-results.png](img/bq-ui-results.png)

It's a matter of preference whether you do your work in the Web UI or the command line -- each has it's advantages.

One major advantage of using the `bq` command line interface is the ability to create a script that will run the remaining 98 benchmark queries for us and log the results.

### Setup an automated test

Running each of the 99 queries manually via the Console UI would be a tedious effort. We'll show you how you can run all 99 programatically and automatically log the output (time and GB processed) to a log file for analysis. 

Below is a shell script that:
1. Accepts a BigQuery dataset to benchmark
2. Accepts a list of semi-colon separated queries to run
3. Loops through each query and calls the `bq` query command
4. Records the execution time into a separate BigQuery performance table `perf`

Execute the below statement and follow along with the results as you benchmark a few example queries (don't worry, we've already ran the full 99 recently so you won't have to).

__After executing, wait 1-2 minutes for the benchmark test to complete__

In [65]:
%%bash
# runs the SQL queries from the TPCDS benchmark 

# Pull the current Google Cloud Platform project name
export PROJECT=$(gcloud config list project --format "value(core.project)")

BQ_DATASET="tpcds_2t_baseline" # let's start by benchmarking our baseline dataset 
QUERY_FILE_PATH="/home/jupyter/$PROJECT/01_baseline_performance/solution/sql/example_baseline_queries.sql"
IFS=";"

# create perf table to keep track of run times for all 99 queries
printf "\033[32;1m Housekeeping tasks... \033[0m\n\n";
printf "Creating a reporting table perf to track how fast each query runs...";
perf_table_ddl="CREATE TABLE IF NOT EXISTS $BQ_DATASET.perf(performance_test_num int64, query_num int64, elapsed_time_sec int64, ran_on int64)"
bq rm -f $BQ_DATASET.perf
bq query --nouse_legacy_sql $perf_table_ddl 

start=$(date +%s)
index=0
for select_stmt in $(<$QUERY_FILE_PATH)ã€€
do 
  # run the test until you hit a line with the string 'END OF BENCHMARK' in the file
  if [[ "$select_stmt" == *'END OF BENCHMARK'* ]]; then
    break
  fi

  printf "\n\033[32;1m Let's benchmark this query... \033[0m\n";
  printf "$select_stmt";
  
  SECONDS=0;
  bq query --use_cache=false --nouse_legacy_sql $select_stmt # critical to turn cache off for this test
  duration=$SECONDS

  # get current timestamp in milliseconds  
  ran_on=$(date +%s)

  index=$((index+1))

  printf "\n\033[32;1m Here's how long it took... \033[0m\n\n";
  echo "Query $index ran in $(($duration / 60)) minutes and $(($duration % 60)) seconds."

  printf "\n\033[32;1m Writing to our benchmark table... \033[0m\n\n";
  insert_stmt="insert into $BQ_DATASET.perf(performance_test_num, query_num, elapsed_time_sec, ran_on) values($start, $index, $duration, $ran_on)"
  printf "$insert_stmt"
  bq query --nouse_legacy_sql $insert_stmt
done

end=$(date +%s)

printf "Benchmark test complete"

 Housekeeping tasks...

Creating a reporting table perf to track how fast each query runs...
Created dw-workshop.tpcds_2t_baseline.perf


 Let's benchmark this query...

-- start query 1 in stream 0 using template query96.tpl
select  count(*)
from tpcds_2t_baseline.store_sales
    ,tpcds_2t_baseline.household_demographics
    ,tpcds_2t_baseline.time_dim, tpcds_2t_baseline.store
where ss_sold_time_sk = time_dim.t_time_sk
    and ss_hdemo_sk = household_demographics.hd_demo_sk
    and ss_store_sk = s_store_sk
    and time_dim.t_hour = 8
    and time_dim.t_minute >= 30
    and household_demographics.hd_dep_count = 5
    and store.s_store_name = 'ese'
order by count(*)
limit 100
+---------+
|   f0_   |
+---------+
| 1488312 |
+---------+

 Here's how long it took...

Query 1 ran in 0 minutes and 5 seconds.

 Writing to our benchmark table...

insert into tpcds_2t_baseline.perf(performance_test_num, query_num, elapsed_time_sec, ran_on) values(1571014412, 1, 5, 1571014417)
Number of affected rows: 1


 Let's benchmark this query...


-- end query 1 in stream 0 using template query96.tpl
-- start query 2 in stream 0 using template query7.tpl
select  i_item_id,
        avg(ss_quantity) agg1,
        avg(ss_list_price) agg2,
        avg(ss_coupon_amt) agg3,
        avg(ss_sales_price) agg4
 from tpcds_2t_baseline.store_sales, tpcds_2t_baseline.customer_demographics, tpcds_2t_baseline.date_dim, tpcds_2t_baseline.item, tpcds_2t_baseline.promotion
 where ss_sold_date_sk = d_date_sk and
       ss_item_sk = i_item_sk and
       ss_cdemo_sk = cd_demo_sk and
       ss_promo_sk = p_promo_sk and
       cd_gender = 'M' and
       cd_marital_status = 'M' and
       cd_education_status = '4 yr Degree' and
       (p_channel_email = 'N' or p_channel_event = 'N') and
       d_year = 2001
 group by i_item_id
 order by i_item_id
 limit 100
+------------------+--------------------+--------------+---------------+--------------+
|    i_item_id     |        agg1        |     agg2     |     agg3      |     agg4     |
+------------------+--------------------+--------------+---------------+--------------+
| AAAAAAAAAAABAAAA |  52.80515297906601 | 74.676067416 | 177.308985507 | 36.391556982 |
| AAAAAAAAAAACAAAA |  52.54377880184332 |      75.1592 | 195.563026114 | 35.613164363 |
| AAAAAAAAAAAEAAAA | 51.454689984101776 | 76.417853736 | 201.621656051 | 36.256041335 |
| AAAAAAAAAAAFAAAA | 48.084552845528464 | 72.010227642 | 211.317560976 | 38.011386623 |
| AAAAAAAAAAAHAAAA |  50.70839936608564 | 74.426388013 | 180.376415094 | 37.647212598 |
| AAAAAAAAAAAIAAAA |  49.48619631901839 |  78.42210687 | 203.284036697 | 40.146941896 |
| AAAAAAAAAAAKAAAA |  51.01863354037263 | 75.779611198 | 196.787791602 | 37.753629283 |
| AAAAAAAAAAALAAAA |   50.3015384615385 | 76.450030628 | 242.072288786 | 37.834908257 |
| AAAAAAAAAABAAAAA |  48.86460032626426 |  75.94228385 | 233.171783961 | 37.966540984 |
| AAAAAAAAAABBAAAA |  50.81583198707594 | 74.880676329 | 216.965974235 | 38.842721417 |
| AAAAAAAAAABDAAAA |  50.50542635658916 | 76.798235294 | 206.995496894 | 38.513782946 |
| AAAAAAAAAABEAAAA | 50.852988691437794 | 77.007802908 | 174.824831461 | 36.741012862 |
| AAAAAAAAAABGAAAA | 52.006220839813345 | 73.915286822 | 215.909426357 | 38.180247295 |
| AAAAAAAAAABHAAAA |   50.0470779220779 |   79.1597557 | 207.093697068 | 40.886715447 |
| AAAAAAAAAABJAAAA |  53.00862068965516 | 76.082163324 |       197.276 | 38.470945559 |
| AAAAAAAAAABKAAAA |  50.26942148760333 |  71.60544702 | 228.169670511 | 35.080033003 |
| AAAAAAAAAACAAAAA |  51.22605965463109 | 76.282910798 | 210.123987441 | 37.275846395 |
| AAAAAAAAAACCAAAA |  51.31289308176107 | 79.026454121 | 211.636588419 | 41.498602826 |
| AAAAAAAAAACDAAAA |  49.56682769726247 | 75.267354839 | 201.556623794 | 37.354830918 |
| AAAAAAAAAACFAAAA |  51.94563426688633 | 75.856771005 | 149.044372937 | 37.588848684 |
| AAAAAAAAAACGAAAA |  50.92507645259942 | 77.793938931 | 206.769571865 | 40.855313936 |
| AAAAAAAAAACIAAAA |  50.13539967373572 | 73.380310458 | 216.365359477 | 37.548134206 |
| AAAAAAAAAACJAAAA | 49.517355371900855 | 73.132475083 | 160.244247934 | 37.570895522 |
| AAAAAAAAAACLAAAA |  51.29041916167665 | 75.998146487 | 187.757772795 | 37.691392216 |
| AAAAAAAAAADBAAAA |  50.75244299674266 | 75.392553191 | 200.615593496 | 36.700245499 |
| AAAAAAAAAADCAAAA |  50.25195618153361 |       76.568 | 182.581386293 | 37.616028037 |
| AAAAAAAAAADEAAAA |   51.1847133757962 | 77.238753994 | 215.274626391 | 37.207599364 |
| AAAAAAAAAADFAAAA | 50.079872204472835 | 75.886308186 | 200.874150641 | 37.178466454 |
| AAAAAAAAAADHAAAA |  49.90461538461542 | 76.114708589 | 188.936213292 | 38.461080247 |
| AAAAAAAAAADIAAAA |  49.27361563517918 | 77.455635179 | 190.711386623 | 40.301859706 |
| AAAAAAAAAADKAAAA |  52.02297090352218 | 76.502427035 | 186.801024465 | 37.329662577 |
| AAAAAAAAAADLAAAA |  51.17627677100493 | 76.090280528 | 229.040181219 | 37.967627677 |
| AAAAAAAAAAEAAAAA |  50.28477905073649 | 74.454942339 | 141.197046205 | 37.094983553 |
| AAAAAAAAAAEBAAAA |  49.91465378421897 | 76.630577849 | 216.570273312 | 38.130822581 |
| AAAAAAAAAAEDAAAA |  51.87081339712919 | 76.951194268 |  184.30291866 | 38.970542265 |
| AAAAAAAAAAEEAAAA |  48.89516129032265 | 75.338790323 | 230.715728155 | 38.414668821 |
| AAAAAAAAAAEGAAAA |  48.97174254317111 | 76.140047022 | 159.755595611 | 38.419498433 |
| AAAAAAAAAAEHAAAA |  51.36363636363635 | 74.132112211 |  194.24354201 | 37.199507389 |
| AAAAAAAAAAEJAAAA |  50.40288924558585 | 76.307849117 | 188.584959742 | 36.091951613 |
| AAAAAAAAAAEKAAAA |  50.33505154639177 | 75.522448276 | 139.590481928 | 39.119726027 |
| AAAAAAAAAAFAAAAA |  52.25434439178511 | 76.331327014 | 193.801172742 | 38.688623418 |
| AAAAAAAAAAFCAAAA | 50.570957095709545 | 75.211762768 | 223.968380165 | 34.900825083 |
| AAAAAAAAAAFDAAAA | 51.555749128919835 | 75.342747826 | 147.837847222 | 37.228222997 |
| AAAAAAAAAAFFAAAA |  50.41463414634141 |  77.32803252 | 168.442455285 | 37.641507293 |
| AAAAAAAAAAFGAAAA |  47.72477064220183 | 74.935861538 | 212.718923077 | 36.134211332 |
| AAAAAAAAAAFIAAAA |  50.21915584415585 | 77.924683955 | 155.575064935 | 38.052714055 |
| AAAAAAAAAAFJAAAA | 50.841483979763964 | 71.241382799 | 154.265932773 | 36.213277311 |
| AAAAAAAAAAFLAAAA | 50.860031104199074 | 76.961339564 | 208.876760125 | 39.623800623 |
| AAAAAAAAAAGBAAAA | 51.904024767801936 | 76.079182099 | 163.130634675 | 38.986176471 |
| AAAAAAAAAAGCAAAA |  48.37968750000003 | 75.986645768 |       222.809 | 39.443765625 |
| AAAAAAAAAAGEAAAA |  50.72903225806452 | 72.954038772 | 222.092882448 | 35.872048387 |
| AAAAAAAAAAGFAAAA |  49.97819314641741 |   75.0583125 | 185.019594384 | 37.482788162 |
| AAAAAAAAAAGHAAAA |  49.95507487520803 | 76.295198675 | 163.850049587 |  38.00141196 |
| AAAAAAAAAAGIAAAA | 50.606112054329344 | 78.121666667 | 152.793758503 | 35.567636054 |
| AAAAAAAAAAGKAAAA |  51.35842293906811 |  77.39459605 | 257.803507194 | 39.330394973 |
| AAAAAAAAAAGLAAAA | 50.941915227629494 | 71.211314554 | 163.206191223 | 36.343600629 |
| AAAAAAAAAAHAAAAA |  49.49916805324458 | 76.321870861 | 191.414941764 | 36.893483333 |
| AAAAAAAAAAHBAAAA |  50.82695252679935 | 75.416911315 |  191.57540832 | 37.646390169 |
| AAAAAAAAAAHDAAAA | 52.519524617996645 | 75.261979522 |  185.29451448 | 38.565349233 |
| AAAAAAAAAAHEAAAA |  52.39625585023406 |  76.60321875 |  225.23371875 | 38.373865415 |
| AAAAAAAAAAHGAAAA |  48.87848932676519 | 76.432368421 | 166.544673203 | 38.660766721 |
| AAAAAAAAAAHHAAAA |  49.32125205930805 | 75.968062397 |  186.64019802 |  36.67509061 |
| AAAAAAAAAAHJAAAA |  49.61692307692309 | 74.292496172 | 154.745453149 |  38.00912037 |
| AAAAAAAAAAHKAAAA | 50.062402496099864 | 76.832239502 | 230.445031056 |  39.65466563 |
| AAAAAAAAAAIAAAAA |  50.58306709265178 |     75.24496 | 167.896102236 | 38.089342949 |
| AAAAAAAAAAICAAAA |  50.05371248025275 |  75.67459588 | 215.128866142 | 37.273359621 |
| AAAAAAAAAAIDAAAA | 49.514754098360655 | 75.165065574 | 163.402156863 | 36.850738916 |
| AAAAAAAAAAIFAAAA |  49.85514018691588 | 78.281897356 | 170.173510972 | 38.006271451 |
| AAAAAAAAAAIGAAAA |  50.68659127625203 | 73.927747164 | 215.338029079 | 37.882258065 |
| AAAAAAAAAAIIAAAA | 50.365814696485614 | 74.778883573 | 138.825677831 | 37.769968051 |
| AAAAAAAAAAIJAAAA | 51.464898595943815 | 77.932363067 | 184.968571429 | 39.764583987 |
| AAAAAAAAAAILAAAA |  51.99483648881246 | 76.004888508 |  221.89119863 | 37.287993139 |
| AAAAAAAAAAJBAAAA |  48.45300462249613 | 76.603204931 |  183.00969278 | 37.490631741 |
| AAAAAAAAAAJCAAAA |  50.61247947454845 | 72.983108553 | 183.784165289 | 35.603465347 |
| AAAAAAAAAAJEAAAA | 48.455792682926855 |  79.06019697 | 247.016270928 | 39.932234043 |
| AAAAAAAAAAJFAAAA |  50.08818635607319 | 76.497254576 | 243.836594684 |      40.2744 |
| AAAAAAAAAAJHAAAA |  50.19637462235643 | 77.136327769 | 211.798384146 | 39.397075758 |
| AAAAAAAAAAJIAAAA | 48.290076335877814 | 76.044091603 | 147.704915773 | 38.978088685 |
| AAAAAAAAAAJKAAAA | 49.691935483870964 | 75.786876006 | 176.544304207 |  38.28689211 |
| AAAAAAAAAAJLAAAA | 51.548123980424144 | 76.967862969 |  189.92001634 | 40.267393443 |
| AAAAAAAAAAKAAAAA | 49.642740619902185 | 75.349102773 | 186.960391517 |  36.26745098 |
| AAAAAAAAAAKBAAAA |   49.3574879227053 | 74.973397746 | 155.579566613 |  36.76340836 |
| AAAAAAAAAAKDAAAA |  49.86604361370715 | 77.803520249 | 197.552305296 | 40.290062305 |
| AAAAAAAAAAKEAAAA |  52.57317073170728 |     74.88625 | 182.465688073 | 37.887210366 |
| AAAAAAAAAAKGAAAA |  51.43044189852699 | 73.474902597 | 181.922682927 | 36.352861789 |
| AAAAAAAAAAKHAAAA | 50.320967741935476 | 75.490709677 | 261.288042071 | 36.721326861 |
| AAAAAAAAAAKJAAAA |  49.59385113268606 | 76.299241935 | 190.275040519 | 37.509935588 |
| AAAAAAAAAAKKAAAA |  50.97309417040363 | 77.938890555 | 228.621227545 | 38.327889222 |
| AAAAAAAAAALAAAAA | 52.781701444622755 | 76.368073836 | 205.475008026 |    36.753232 |
| AAAAAAAAAALCAAAA |  49.06191950464396 | 75.430986133 | 164.945356037 | 36.467650696 |
| AAAAAAAAAALDAAAA |   49.4353846153846 | 75.494669739 |  180.24835131 | 38.333042813 |
| AAAAAAAAAALFAAAA |            51.1632 | 74.683306836 | 169.978996815 |     36.84456 |
| AAAAAAAAAALGAAAA |  49.15048543689315 |  75.05280389 | 191.320759289 | 38.271165049 |
| AAAAAAAAAALIAAAA |  50.97979797979797 | 76.052529313 | 174.083878583 | 38.822491582 |
| AAAAAAAAAALJAAAA |  50.72756410256411 |    77.142768 |    127.268736 |  37.32571885 |
| AAAAAAAAAALLAAAA | 50.634868421052595 | 75.333496732 | 208.542565359 | 38.587315876 |
| AAAAAAAAAAMBAAAA |  49.29493087557603 | 78.265902141 | 197.740552147 | 38.335932203 |
| AAAAAAAAAAMCAAAA |  50.33061889250814 | 74.076941748 | 261.760944625 | 38.227824675 |
| AAAAAAAAAAMEAAAA | 50.096880131362845 | 74.082364532 | 179.532295082 |  38.20639478 |
| AAAAAAAAAAMFAAAA | 50.072000000000024 | 75.771405751 | 176.169392971 | 38.305591054 |
+------------------+--------------------+--------------+---------------+--------------+

 Here's how long it took...

Query 2 ran in 0 minutes and 10 seconds.

 Writing to our benchmark table...

insert into tpcds_2t_baseline.perf(performance_test_num, query_num, elapsed_time_sec, ran_on) values(1571014412, 2, 10, 1571014430)
Number of affected rows: 1


 Let's benchmark this query...


-- end query 2 in stream 0 using template query7.tpl
-- start query 3 in stream 0 using template query75.tpl
WITH all_sales AS (
 SELECT d_year
       ,i_brand_id
       ,i_class_id
       ,i_category_id
       ,i_manufact_id
       ,SUM(sales_cnt) AS sales_cnt
       ,SUM(sales_amt) AS sales_amt
 FROM (SELECT d_year
             ,i_brand_id
             ,i_class_id
             ,i_category_id
             ,i_manufact_id
             ,cs_quantity - COALESCE(cr_return_quantity,0) AS sales_cnt
             ,cs_ext_sales_price - COALESCE(cr_return_amount,0.0) AS sales_amt
       FROM tpcds_2t_baseline.catalog_sales JOIN tpcds_2t_baseline.item ON i_item_sk=cs_item_sk
                          JOIN tpcds_2t_baseline.date_dim ON d_date_sk=cs_sold_date_sk
                          LEFT JOIN tpcds_2t_baseline.catalog_returns ON (cs_order_number=cr_order_number
                                                    AND cs_item_sk=cr_item_sk)
       WHERE i_category='Shoes'
       UNION ALL
       SELECT d_year
             ,i_brand_id
             ,i_class_id
             ,i_category_id
             ,i_manufact_id
             ,ss_quantity - COALESCE(sr_return_quantity,0) AS sales_cnt
             ,ss_ext_sales_price - COALESCE(sr_return_amt,0.0) AS sales_amt
       FROM tpcds_2t_baseline.store_sales JOIN tpcds_2t_baseline.item ON i_item_sk=ss_item_sk
                        JOIN tpcds_2t_baseline.date_dim ON d_date_sk=ss_sold_date_sk
                        LEFT JOIN tpcds_2t_baseline.store_returns ON (ss_ticket_number=sr_ticket_number
                                                AND ss_item_sk=sr_item_sk)
       WHERE i_category='Shoes'
       UNION ALL
       SELECT d_year
             ,i_brand_id
             ,i_class_id
             ,i_category_id
             ,i_manufact_id
             ,ws_quantity - COALESCE(wr_return_quantity,0) AS sales_cnt
             ,ws_ext_sales_price - COALESCE(wr_return_amt,0.0) AS sales_amt
       FROM tpcds_2t_baseline.web_sales JOIN tpcds_2t_baseline.item ON i_item_sk=ws_item_sk
                      JOIN tpcds_2t_baseline.date_dim ON d_date_sk=ws_sold_date_sk
                      LEFT JOIN tpcds_2t_baseline.web_returns ON (ws_order_number=wr_order_number
                                            AND ws_item_sk=wr_item_sk)
       WHERE i_category='Shoes') sales_detail
 GROUP BY d_year, i_brand_id, i_class_id, i_category_id, i_manufact_id)
 SELECT  prev_yr.d_year AS prev_year
                          ,curr_yr.d_year AS year
                          ,curr_yr.i_brand_id
                          ,curr_yr.i_class_id
                          ,curr_yr.i_category_id
                          ,curr_yr.i_manufact_id
                          ,prev_yr.sales_cnt AS prev_yr_cnt
                          ,curr_yr.sales_cnt AS curr_yr_cnt
                          ,curr_yr.sales_cnt-prev_yr.sales_cnt AS sales_cnt_diff
                          ,curr_yr.sales_amt-prev_yr.sales_amt AS sales_amt_diff
 FROM all_sales curr_yr, all_sales prev_yr
 WHERE curr_yr.i_brand_id=prev_yr.i_brand_id
   AND curr_yr.i_class_id=prev_yr.i_class_id
   AND curr_yr.i_category_id=prev_yr.i_category_id
   AND curr_yr.i_manufact_id=prev_yr.i_manufact_id
   AND curr_yr.d_year=2000
   AND prev_yr.d_year=2000-1
   AND CAST(curr_yr.sales_cnt AS NUMERIC)/CAST(prev_yr.sales_cnt AS NUMERIC)<0.9
 ORDER BY sales_cnt_diff,sales_amt_diff
 limit 100
+-----------+------+------------+------------+---------------+---------------+-------------+-------------+----------------+----------------+
| prev_year | year | i_brand_id | i_class_id | i_category_id | i_manufact_id | prev_yr_cnt | curr_yr_cnt | sales_cnt_diff | sales_amt_diff |
+-----------+------+------------+------------+---------------+---------------+-------------+-------------+----------------+----------------+
|      1999 | 2000 |    4003001 |          3 |             4 |           190 |    11626281 |       49152 |      -11577129 |  -503749298.96 |
|      1999 | 2000 |    4002001 |          2 |             4 |           707 |    11608136 |       50047 |      -11558089 |  -502487369.65 |
|      1999 | 2000 |    4004001 |          4 |             4 |           104 |    11602689 |       49869 |      -11552820 |   -499724741.3 |
|      1999 | 2000 |    4002001 |          2 |             4 |            22 |    11593459 |       48073 |      -11545386 |  -501212832.88 |
|      1999 | 2000 |    4002001 |          2 |             4 |           177 |    11571622 |       49742 |      -11521880 |  -500779996.42 |
|      1999 | 2000 |    4001001 |          1 |             4 |            98 |    15456202 |     3945379 |      -11510823 |  -501184378.58 |
|      1999 | 2000 |    4002001 |          2 |             4 |           145 |    11523373 |       48235 |      -11475138 |  -498676850.01 |
|      1999 | 2000 |    4001001 |          1 |             4 |           229 |     7767420 |       32638 |       -7734782 |     -335875568 |
|      1999 | 2000 |    4002001 |          2 |             4 |           428 |    11634627 |     3902538 |       -7732089 |  -336239048.07 |
|      1999 | 2000 |    4004001 |          4 |             4 |           899 |     7765606 |       33986 |       -7731620 |  -335110327.47 |
|      1999 | 2000 |    4001001 |          1 |             4 |            32 |    11619898 |     3896137 |       -7723761 |  -335269172.73 |
|      1999 | 2000 |    4002001 |          2 |             4 |            50 |     7756358 |       33407 |       -7722951 |   -335678410.5 |
|      1999 | 2000 |    4003001 |          3 |             4 |           622 |     7753650 |       32855 |       -7720795 |  -336405182.71 |
|      1999 | 2000 |    4003001 |          3 |             4 |           640 |     7754260 |       33668 |       -7720592 |  -334434955.92 |
|      1999 | 2000 |    4001001 |          1 |             4 |            19 |     7752347 |       32485 |       -7719862 |  -334989081.19 |
|      1999 | 2000 |    4004001 |          4 |             4 |           117 |     7753722 |       34421 |       -7719301 |  -335364256.67 |
|      1999 | 2000 |    4003001 |          3 |             4 |           158 |     7746988 |       31740 |       -7715248 |  -334982843.15 |
|      1999 | 2000 |    4001001 |          1 |             4 |           416 |     7746926 |       32798 |       -7714128 |  -335254987.48 |
|      1999 | 2000 |    4002001 |          2 |             4 |            55 |     7744863 |       31680 |       -7713183 |  -334415718.21 |
|      1999 | 2000 |    4001001 |          1 |             4 |           850 |     7748512 |       35897 |       -7712615 |  -337675616.67 |
|      1999 | 2000 |    4001001 |          1 |             4 |           248 |     7745378 |       33562 |       -7711816 |  -336168439.24 |
|      1999 | 2000 |    4001001 |          1 |             4 |           118 |     7745056 |       34682 |       -7710374 |  -335699275.14 |
|      1999 | 2000 |    4004001 |          4 |             4 |           183 |     7741170 |       32875 |       -7708295 |  -335469573.81 |
|      1999 | 2000 |    4003001 |          3 |             4 |           295 |     7742744 |       34564 |       -7708180 |  -335656328.37 |
|      1999 | 2000 |    4004001 |          4 |             4 |            34 |     7740194 |       34146 |       -7706048 |  -334040896.03 |
|      1999 | 2000 |    4004001 |          4 |             4 |           147 |     7741685 |       36203 |       -7705482 |  -336549108.44 |
|      1999 | 2000 |    4002001 |          2 |             4 |           278 |    11637799 |     3932618 |       -7705181 |  -333541606.93 |
|      1999 | 2000 |    4003001 |          3 |             4 |           303 |     7735119 |       33766 |       -7701353 |  -334161605.16 |
|      1999 | 2000 |    4003001 |          3 |             4 |           200 |     7733845 |       34235 |       -7699610 |  -334224977.05 |
|      1999 | 2000 |    4004001 |          4 |             4 |           306 |     7733644 |       35199 |       -7698445 |  -333503203.73 |
|      1999 | 2000 |    4001001 |          1 |             4 |           173 |     7731825 |       33475 |       -7698350 |  -334796665.99 |
|      1999 | 2000 |    4003001 |          3 |             4 |           184 |     7731200 |       32997 |       -7698203 |  -333771792.12 |
|      1999 | 2000 |    4002001 |          2 |             4 |           208 |     7729740 |       32995 |       -7696745 |  -334238333.92 |
|      1999 | 2000 |    4003001 |          3 |             4 |           331 |     7730113 |       34317 |       -7695796 |  -335726386.18 |

Waiting on bqjob_r36ba6b45895131a4_0000016dc7c2af15_1 ... (1s) Current status: DONE

## Viewing the benchmark results

As part of the benchmark test, we stored the processing time of each query into a new `perf` BigQuery table. We can query that table and get some performance stats for our test. 

First are each of the tests we ran:

In [66]:
%%bigquery
SELECT * FROM tpcds_2t_baseline.perf
WHERE 
 # Let's only pull the results from our most recent test
 performance_test_num = (SELECT MAX(performance_test_num) FROM tpcds_2t_baseline.perf)
ORDER BY ran_on

   performance_test_num  query_num  elapsed_time_sec      ran_on
0            1571014412          1                 5  1571014417
1            1571014412          2                10  1571014430
2            1571014412          3                25  1571014458
3            1571014412          4                25  1571014487

And finally, the overall statistics for the entire test:

In [67]:
%%bigquery
SELECT
  TIMESTAMP_SECONDS(MAX(performance_test_num)) AS test_date,
  MAX(performance_test_num) AS latest_performance_test_num,
  COUNT(DISTINCT query_num) AS count_queries_benchmarked,
  SUM(elapsed_time_sec) AS total_time_sec,
  MIN(elapsed_time_sec) AS fastest_query_time_sec,
  MAX(elapsed_time_sec) AS slowest_query_time_sec
FROM
  tpcds_2t_baseline.perf
WHERE
  performance_test_num = (SELECT MAX(performance_test_num) FROM tpcds_2t_baseline.perf)

,test_date,latest_performance_test_num,count_queries_benchmarked,total_time_sec,fastest_query_time_sec,slowest_query_time_sec
0,2019-10-14 00:53:32+00:00,1571014412,4,65,5,25

## Benchmarking all 99 queries

As we mentioned before, we already ran all 99 queries and recorded the results and made them available for you to query in a public table:

In [68]:
%%bigquery
SELECT * FROM `dw-workshop.tpcds_2t_baseline.perf` # public table
WHERE 
 # Let's only pull the results from our most recent test
 performance_test_num = (SELECT MAX(performance_test_num) FROM tpcds_2t_baseline.perf)
ORDER BY ran_on

   performance_test_num  query_num  elapsed_time_sec      ran_on
0            1571014412          1                 5  1571014417
1            1571014412          2                10  1571014430
2            1571014412          3                25  1571014458
3            1571014412          4                25  1571014487

And the results of the complete test:

In [69]:
%%bigquery
SELECT
  TIMESTAMP_SECONDS(MAX(performance_test_num)) AS test_date,
  MAX(performance_test_num) AS latest_performance_test_num,
  COUNT(DISTINCT query_num) AS count_queries_benchmarked,
  SUM(elapsed_time_sec) AS total_time_sec,
  MIN(elapsed_time_sec) AS fastest_query_time_sec,
  MAX(elapsed_time_sec) AS slowest_query_time_sec
FROM
  `dw-workshop.tpcds_2t_baseline.perf`
WHERE
  performance_test_num = (SELECT MAX(performance_test_num) FROM `dw-workshop.tpcds_2t_baseline.perf`)

,test_date,latest_performance_test_num,count_queries_benchmarked,total_time_sec,fastest_query_time_sec,slowest_query_time_sec
0,2019-10-14 00:53:32+00:00,1571014412,4,65,5,25

Note the `total_time_sec` of __XX seconds (or XX minutes)__ which we will look to beat in future labs by applying BigQuery optimization techniques like:
- Partitioning and Clustering
- Nesting repeated fields
- Denormalizing with STRUCT data types

## Congratulations!

And there you have it! You successfully ran a performance benchmark test against your data warehouse. Continue on with the labs in this series to learn optimiztion strategies to boost your performance.